body {
	padding: 30px;
	font: arial;
	width: 100%;
}

.navbar {
	margin-bottom: 30px;
}

.container {

}

.class {

}

.time {
	height: 100px;
	font-size: 20pt;
}

.timeslot {
	height: 200px;
}

#gamelist {
	width: 30%;
	float: left;
}

#schedule {
	float: left;
	border-radius: 3px;
	border-width: 1px;
	border-color: black;
	width: 20%;
}

#timeslots {
	float: left;
	width: 50%;
}