{% extends "base.html" %}
{% block body %}

  <script>
    function add_fields(){
      var newInput = document.createElement('span')
      newInput.innerHTML = '<input type="text" name="text" class="form-control" placeholder="Username">';
      document.getElementById('input').appendChild(newInput);
    }
  </script>
  <body>

    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 align="center">Enter your Steam Account Handles</h1>
        <br>
        <div align="center">
          <form action="/event" method="POST">
          <div align="center" id="input">
              <input type="text" name="text" class="form-control" placeholder="Username">
          </div>
          <input type="submit" class="btn btn-lg btn-primary" name="steamids"></input>
          </form>

          <button class="btn btn-lg btn-primary" onclick="add_fields();">+</button>
        </div>
        </p>
      </div>

    </div> <!-- /container -->
  </body>

{% endblock %}
